.someClass {

}

.error {
    border: red 1 px solid;
    
}

.errorMessages {
    border: 1px solid red;
}
.btn{
    position: relative;
    
    width: auto;
    margin: 0 auto;
    height: 2.3em;
    line-height: 2.4em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: #000;
    outline: none;
    border: 1px solid rgba(110,121,128,.8);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 5px;
    background: rgb(206, 220, 231) linear-gradient(rgb(206,220,231), rgb(89,106,114));
    box-shadow:
     0 -1px rgba(10,21,28,.9) inset,
     0 1px rgba(255,255,255,.5) inset;
  }

  
  .btn:active {
    line-height: 2.6em;
    background: linear-gradient(#bac6cf, #c5d3de 20%, #71828c);
    box-shadow: 0 -1px rgba(255,255,255,.4) inset;
  }

  
  .btn:hover{
    background: linear-gradient(#d2dfea, #71828c);
  }